In [3]:
%pip install pandas matplotlib

Requirement already satisfied: pandas in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (3.0.1)
Requirement already satisfied: matplotlib in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (3.10.8)
Requirement already satisfied: numpy>=2.3.3 in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kevin\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\kevin\appdata\roaming\python\python314\site-packages (from matplotlib) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (12.1.1)
Requirement already satisfied: pyparsing>=3 in c:\users\kevin\appdata\local\programs\python\python314\lib\site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: six>=1.5 in c:\users\kevin\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
bios = pd.read_csv('bios.csv')
# can also use the raw file link in github repo inside parentheses above   
bios.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

### What Should We Clean Up?

### Bios
- [x] Remove bullet points in Used name column
- [x] Split height/weight in Measurements column
- [x] Parse out dates from `Born` and `Died` columns
- [x] Parse out city, region, country from `Born` column
- [ ] Remove extra columns

### Results
- [x] Isolate Number from Position
- [ ] 
- [ ] 
- [ ] 
- [ ] Remove extra columns (ex: unnamed)

In [6]:
df = bios.copy()

## Bios

### Remove Bullet Points In Used names

In [7]:
# display number of records in dataframe and the number of records that contain a bullet point
print(len(df), len(df[df['Used name'].str.contains("•")]))

145500 145500

In [8]:
df['Name'] = df['Used name'].str.replace("•", " ")
# df.head()

### Split the Measurements column into separate columns for height and weight

In [9]:
# Split the Measurements column into separate columns for height and weight
df[['Height_cm', 'Weight_kg']] = df['Measurements'].str.split(' / ', expand=True) # expand=True allows us to split into separate columns
df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,Name,Height_cm,Weight_kg
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch,183 cm,76 kg
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN,Jean Borotra,183 cm,76 kg
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN,Jacques Brugnon,168 cm,64 kg
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,Albert Canet,NaN,NaN

In [10]:
## Small example to test out the code before applying to the full dataset
small_data = pd.DataFrame(['183 cm', '180 cm / 150 kg', '190 cm / 80 kg', '100 kg'], columns=['Measurements'])

# split around slash, allowing optional spaces
small_data[['Height_cm', 'Weight_kg']] = small_data['Measurements'].str.split('/', expand=True)

# fill missing weight with the height field (assign result back)
small_data['Weight_kg'] = small_data['Weight_kg'].fillna(small_data['Height_cm'])

# remove "cm" and "kg" and convert to numeric, coercing errors to NaN
small_data['Height_cm'] = pd.to_numeric(small_data['Height_cm'].str.strip(' cm'), errors='coerce') 
small_data['Weight_kg'] = pd.to_numeric(small_data['Weight_kg'].str.strip(' kg'), errors='coerce')

small_data

      Measurements  Height_cm  Weight_kg
0           183 cm      183.0        NaN
1  180 cm / 150 kg      180.0      150.0
2   190 cm / 80 kg      190.0       80.0
3           100 kg        NaN      100.0

In [11]:
# check to make sure all values have '/'
# df[~df['Measurements'].str.contains("/", na=False) & df['Measurements'].notna()] # this will show any records where Measurements does not contain '/' and is not null

In [12]:
# remove the "cm" and "kg" units from the height and weight columns
df['Height_cm'] = pd.to_numeric(df['Height_cm'].str.strip(' cm'), errors='coerce') 
df['Weight_kg'] = pd.to_numeric(df['Weight_kg'].str.strip(' kg'), errors='coerce')

In [13]:
df.head()
df.sort_values('Height_cm', ascending=False)

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,Name,Height_cm,Weight_kg
89070,Competed in Olympic Games • Other,Male,Yao•Ming,Yao•Ming,"12 September 1980 in Xuhui District, Shanghai ...",NaN,People's Republic of China,89782,226 cm / 141 kg,"Shanghai Sharks, Shanghai (CHN) / Houston Rock...",NaN,NaN,NaN,NaN,姚•明,Oriental,Yao Ming,226.0,141.0
6978,Competed in Olympic Games,Male,Arvydas Romas•Sabonis,Arvydas•Sabonis,"19 December 1964 in Kaunas, Kaunas (LTU)",NaN,Lithuania Soviet Union,7013,223 cm / 122 kg,"Žalgiris Kaunas, Kaunas (LTU) / Real Madrid, M...",Sabas,NaN,"Arvidas Romas Sabonis, Арвидас Ромас Сабонис",Lithuania,NaN,NaN,Arvydas Sabonis,223.0,122.0
5781,Competed in Olympic Games,Male,"Thomas Loren ""Tommy""•Burleson",Tommy•Burleson,"24 February 1952 in Crossnore, North Carolina ...",NaN,United States,5804,223 cm / 102 kg,"NC State Wolfpack, Raleigh (USA)",NaN,NaN,NaN,NaN,NaN,NaN,Tommy Burleson,223.0,102.0
89075,Competed in Olympic Games,Male,Roberto•Dueñas Hernández,Roberto•Dueñas,"1 November 1975 in Madrid, Madrid (ESP)",NaN,Spain,89787,221 cm / 137 kg,"FC Barcelona, Barcelona (ESP)",NaN,NaN,NaN,NaN,NaN,NaN,Roberto Dueñas,221.0,137.0
120266,Competed in Olympic Games,Male,Zhang•Zhaoxu,Zhang•Zhaoxu,"18 November 1987 in Binzhou, Shandong (CHN)",NaN,People's Republic of China,122147,221 cm / 110 kg,"Shanghai Sharks, Shanghai (CHN)",NaN,NaN,NaN,NaN,张•兆旭,Oriental,Zhang Zhaoxu,221.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145490,Competed in Olympic Games,Male,Sin•Ye-Chan,Sin•Ye-Chan,13 June 1995,NaN,Republic of Korea,149217,NaN,NaN,NaN,NaN,Shin Ye-Chan,NaN,신•예찬,Oriental,Sin Ye-Chan,NaN,NaN
145491,Competed in Olympic Games,Male,Matthew•Wepke,Matthew•Wepke,5 December 1989,NaN,Jamaica,149218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matthew Wepke,NaN,NaN
145492,Competed in Olympic Games,Male,Carlos•García-Ordóñez Montalvo,Carlos•García-Ordóñez,"24 April 1927 in La Habana (Havana), Ciudad de...","24 November 2019 in Miami, Florida (USA)",Cuba,149219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carlos García-Ordóñez,NaN,NaN
145493,Competed in Olympic Games,Female,Landysh Ilsurovna•Falyakhova,Landysh•Falyakhova,"31 August 1998 in Dva Polya Artash, Respublika...",NaN,ROC,149220,NaN,"SKIF Nizhny Novgorod, Nizhny Novgorod (RUS)",NaN,NaN,NaN,NaN,Ландыш Ильсуровна•Фаляхова,NaN,Landysh Falyakhova,NaN,NaN
145499,Non-starter • Administrator,Male,"William Berge ""Bill""•Phillips",Bill•Phillips,"15 July 1913 in Dulwich Hill, New South Wales ...","20 October 2003 in Sydney, New South Wales (AUS)",Australia,149814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bill Phillips,NaN,NaN

### Parse out dates from `Born` and `Died`

In [15]:
date_pattern = r'(\d+ \w+ \d{4} | \d{4})' # + = 1 or more; {number} specifies exact number of digits; \w+ matches the month name; parentheses capture the date as a group
# df['Born_Date'] = df['Born'].str.extract(date_pattern) 

df[~df['Born'].str.match(date_pattern, na=False) & df['Born'].notna()] # check for any records where born_date is null but Born is not null, which would indicate a parsing issue

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,Name,Height_cm,Weight_kg
91,Competed in Olympic Games,Male,Lionel Hunter•Escombe,Lionel•Escombe,"1876 in Natal, KwaZulu-Natal (RSA)","15 October 1914 in Brentford, England (GBR)",Great Britain,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lionel Escombe,NaN,NaN
164,Competed in Olympic Games,Female,Helen•Amankwah,Helen•Amankwah,13 April 1964,NaN,Ghana,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Helen Amankwah,NaN,NaN
165,Competed in Olympic Games,Female,Patricia Akosua•Offel,Patricia•Offel,19 December 1971,NaN,Ghana,166,120 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patricia Offel,NaN,NaN
166,Competed in Olympic Games,Female,Patience Abena•Opokua,Patience•Opokua,17 June 1969,NaN,Ghana,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patience Opokua,NaN,NaN
167,Competed in Olympic Games,Male,Winifred•Addy,Winifred•Addy,17 March 1973,NaN,Ghana,168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winifred Addy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145483,Competed in Olympic Games,Female,Feng•He,Feng•He,31 March 2004,NaN,People's Republic of China,149210,NaN,NaN,NaN,NaN,NaN,NaN,冯•贺,Oriental,Feng He,NaN,NaN
145486,Non-starter,Male,Dmitry•Karlagachev,Dmitry•Karlagachev,13 October 1998,NaN,ROC,149213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dmitry Karlagachev,NaN,NaN
145489,Competed in Olympic Games,Male,Ye•Jielong,Ye•Jielong,2 March 2000,NaN,People's Republic of China,149216,NaN,NaN,NaN,NaN,NaN,NaN,叶•杰龙,Oriental,Ye Jielong,NaN,NaN
145490,Competed in Olympic Games,Male,Sin•Ye-Chan,Sin•Ye-Chan,13 June 1995,NaN,Republic of Korea,149217,NaN,NaN,NaN,NaN,Shin Ye-Chan,NaN,신•예찬,Oriental,Sin Ye-Chan,NaN,NaN
145491,Competed in Olympic Games,Male,Matthew•Wepke,Matthew•Wepke,5 December 1989,NaN,Jamaica,149218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matthew Wepke,NaN,NaN

In [16]:
date_pattern = r'(\d+ \w+ \d{4} | \d{4})'

df['Born_Date'] = pd.to_datetime(df['Born'].str.extract(date_pattern)[0], format = 'mixed', errors='coerce') # extract the date in format "day month year" and convert to datetime, coercing errors to NaT
df['Died_Date'] = pd.to_datetime(df['Died'].str.extract(date_pattern)[0], format = 'mixed', errors='coerce')

# extract just the year from the Born column
# df['Born_Year'] = df['Born'].str.extract(r'(\d{4})')[0] # extract just the year from the Born column
# df['Born_Year'] = pd.to_numeric(df['Born_Year'])

In [17]:
# df[df.Born_Date.dt.year==2000]
# df = df.drop('born_date', axis=1)
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Roles          145500 non-null  str
 1   Sex            145500 non-null  str
 2   Full name      145500 non-null  str
 3   Used name      145500 non-null  str
 4   Born           143772 non-null  str
 5   Died           34042 non-null   str
 6   NOC            145499 non-null  str
 7   athlete_id     145500 non-null  int64
 8   Measurements   107833 non-null  str
 9   Affiliations   95832 non-null   str
 10  Nick/petnames  9145 non-null    str
 11  Title(s)       399 non-null     str
 12  Other names    7167 non-null    str
 13  Nationality    8259 non-null    str
 14  Original name  30739 non-null   str
 15  Name order     7844 non-null    str
 16  Name           145500 non-null  str
 17  Height_cm      106651 non-null  float64
 18  Weight_kg      102070 non-null  float64
 19  Born_Date      141819 non-null  datetime64[us]
 20  Died_Date      32857 non-null   datetime64[us]
dtypes: datetime64[us](2), float64(2), int64(1), str(16)
memory usage: 23.3 MB

In [18]:
df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,...,Title(s),Other names,Nationality,Original name,Name order,Name,Height_cm,Weight_kg,Born_Date,Died_Date
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Jean-François Blanchy,NaN,NaN,1886-12-12,1960-10-02
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Arnaud Boetsch,183.0,76.0,1969-04-01,NaT
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Jean Borotra,183.0,76.0,1898-08-13,1994-07-17
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Jacques Brugnon,168.0,64.0,1895-05-11,1978-03-20
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",...,NaN,NaN,NaN,NaN,NaN,Albert Canet,NaN,NaN,1878-04-17,1930-07-25

### Parse Out City, Region, Country

In [31]:
location_pattern = r'in ([\w\s-]+), ([\w\s-]+) \((\w+)\)'
df['Born'].str.extract(location_pattern)

                   0                     1    2
0           Bordeaux               Gironde  FRA
1             Meulan              Yvelines  FRA
2           Biarritz  Pyrénées-Atlantiques  FRA
3        Paris VIIIe                 Paris  FRA
4         Wandsworth               England  GBR
...              ...                   ...  ...
145495         Serov            Sverdlovsk  RUS
145496           NaN                   NaN  NaN
145497        Kotlas           Arkhangelsk  RUS
145498         Niort           Deux-Sèvres  FRA
145499  Dulwich Hill       New South Wales  AUS

[145500 rows x 3 columns]

In [32]:
df[['Born_City','Born_Region','Born_Country']] = df['Born'].str.extract(location_pattern, expand=True)

In [37]:
# pd.set_option('display.max_colwidth', None) # to display all columns in the dataframe

df.value_counts('Born_Region', ascending=False).head(10)
df.value_counts('Born_City', ascending=False).head(10)

Born_City
Budapest          1378
Oslo               708
Stockholm          629
Toronto            579
Buenos Aires       538
Sydney             497
Montréal           468
Berlin             467
Helsinki           439
Rio de Janeiro     433
Name: count, dtype: int64

### Remove Any Unnecessary Columns

In [38]:
df.columns

Index(['Roles', 'Sex', 'Full name', 'Used name', 'Born', 'Died', 'NOC',
       'athlete_id', 'Measurements', 'Affiliations', 'Nick/petnames',
       'Title(s)', 'Other names', 'Nationality', 'Original name', 'Name order',
       'Name', 'Height_cm', 'Weight_kg', 'Born_Date', 'Died_Date', 'Born_City',
       'Born_Region', 'Born_Country'],
      dtype='str')

In [40]:
Kept_Columns = ['athlete_id','Name', 'Born_Date', 'Born_City', 'Born_Region', 
                'Born_Country', 'NOC', 'Height_cm', 'Weight_kg', 'Died_Date']

df_cleaned = df[Kept_Columns]

In [42]:
df_cleaned.head()

,athlete_id,Name,Born_Date,Born_City,Born_Region,Born_Country,NOC,Height_cm,Weight_kg,Died_Date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaT
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [43]:
df_cleaned.to_csv('./clean-data/bios.csv', index=False)

## Results

In [46]:
results = pd.read_csv('./Results/results.csv')
results.head()

C:\Users\kevin\AppData\Local\Temp\ipykernel_5480\1590646784.py:1: DtypeWarning: Columns (0: Nationality) have mixed types. Specify dtype option on import or set low_memory=False.
  results = pd.read_csv('./Results/results.csv')

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN

### Extract Number from Position

In [50]:
results['place'] = results['Pos'].str.extract(r'(\d+)') # extract the numeric part of the Pos column

In [51]:
results.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7,place
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,17
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,32
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,8
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN,4

### Remove Unnecessary Columns

In [52]:
results.drop(columns=['Unnamed: 7'], inplace=True)
results.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,place
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,17
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,32
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,8
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,4